@use "@/app/styles/animations/animations.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

.wrapper {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__button,
.close__button {
  cursor: "pointer";
  color: white;
  margin-right: 10px;
  animation: changeMenu 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.close__button {
  color: black;
}

.menu__wrapper {
  width: 100vw;
  height: 0;
  background-color: #ffffff;
  position: absolute;
  z-index: 999;
  overflow: hidden;
}

.menu__wrapper__open {
  width: 100vw;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  z-index: 999;
  animation: overlayOpenMenu 0.8s ease-out forwards;
}

.menu__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 25px;
    margin: 1.5rem 0;
    text-align: center;
    transition: all 1s;
    cursor: pointer;
    font-family: "Noto Serif KR", serif;

    &:hover {
      color: white;
      background-color: black;
      animation: fillBackground 0.4s ease-out;
    }
  }
}

@media screen and (min-width: 1024px) {
  .menu__wrapper,
  .menu__wrapper__open {
    display: flex;
    justify-content: center;
    height: 50px;
    overflow: visible;
    background-color: transparent;
    animation: opacityContent 6s ease-in-out forwards;
  }

  .menu__container {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    a {
      margin: 0 2rem;
      cursor: pointer;
    }

    p {
      color: rgb(240, 240, 240);

      &:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        animation: fillBackground 0.4s;
      }
    }
  }
}
