@use "@/app/styles/animations/Animations.module.scss";

.element__image {
  border-radius: 20px;
  animation: opacityContent 2s ease-in-out forwards;
}

.element__caption__container {
  width: 88%;
  display: flex;
  align-items: center;
  margin: 3rem 0;
}

.element__caption {
  line-height: 1.2rem;
  font-size: 15px;
  margin-left: 1rem;
  text-align: center;
  color: white;
  font-family: "Gowun Batang", serif;
  animation: opacityContent 2s ease-in-out forwards;
}

@media screen and (min-width: 1024px) {
  .element__image {
    width: 340px;
    height: 420px;
    margin: 3rem 0;
    margin-left: 6rem;
  }
  .element__caption__container {
    width: 45%;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 2rem;
  }

  .element__caption {
    font-size: 20px;
    line-height: 3rem;
    text-align: left;
    align-items: baseline;
    margin-left: 0;
  }
  .container {
    display: flex !important;
  }
}

@media screen and (min-width: 1440px) {
  .element__image {
    width: 400px;
    height: 500px;
    margin: 5rem 0;
    margin-left: 14rem;
  }

  .element__caption {
    font-size: 27px;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1920px) {
  .element__image {
    width: 450px;
    height: 550px;
    margin: 3rem 0;
    margin-left: 12rem;
  }
  .element__caption__container {
    width: 47%;
    margin-left: 4rem;
  }

  .element__caption {
    font-size: 25px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 2560px) {
  .element__image {
    width: 500px;
    height: 600px;
    margin-left: 25rem;
  }

  .element__caption {
    font-size: 40px;
    margin-bottom: 2.5rem;
  }
}
