@use "@/app/styles/animations/animations.module.scss";

.background {
  width: 100vw;
  height: 100vh;
  animation: overlayIntro 2s ease-in;
}

.text__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  p {
    font-size: 30px;
    position: absolute;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-family: "Grandiflora One", serif;
    animation: glitch1 2.5s infinite;
  }
  p:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }

  p:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }
}

@media screen and (min-width: 1024px) {
  .text {
    font-size: 25px;
  }
}
@media screen and (min-width: 1920px) {
  .text {
    font-size: 30px;
  }
}
@media screen and (min-width: 2560px) {
  .text {
    font-size: 35px;
  }
}
