@use "@/app/styles/animations/animations.module.scss";

.wrapper__open {
  width: 100vw;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  z-index: 999;
  animation: overlayOpenMenu 0.8s ease-out forwards;
}

.wrapper__close {
  width: 100vw;
  height: 0;
  background-color: #ffffff;
  position: absolute;
  z-index: 999;
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poiret One", cursive;

  p {
    font-size: 40px;
    margin: 1.5rem 0;
    text-align: center;
    transition: all 1s;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: black;
      animation: fillBackground 0.4s ease-in-out;
    }
  }
}
