.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
  position: absolute;
  top: 0;
  z-index: 999;
}

.wrapper::before {
  background-color: white;
  transition: all 2s;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poiret One", cursive;

  p {
    font-size: 40px;
    margin: 1.5rem 0;
    text-align: center;
    transition: all 1s;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: black;
      animation: fillBackground 0.4s ease-in-out;
    }
  }
}

@keyframes fillBackground {
  from {
    width: 0%;
    background-color: black;
  }
  to {
    width: 100%;
    background-color: black;
  }
}
