@use "@/app/styles/animations/animations.module.scss";

.container {
  width: 100vw;
}

.title__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 7rem;

  button {
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: rgb(220, 220, 220);
    height: 35px;
    font-family: "Gowun Batang", serif;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  .title__active {
    color: white;
    scale: 1.2;
    transition: all 1s;
  }

  button:nth-child(1) {
    animation: fadeDownText 2s ease-in-out;
  }
  button:nth-child(2) {
    animation: fadeDownText 4s ease-in-out;
  }
  button:nth-child(3) {
    animation: fadeDownText 5s ease-in-out;
  }
}

.content__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  hr {
    width: 90%;
    border: 1px solid rgb(217, 217, 217);
  }
}

.content__title {
  margin: 2rem 0;
  font-size: 36px;
  color: white;
  animation: fadeDownText 2s ease-in-out;
  font-family: "Fredericka the Great", cursive;
}

.content__container {
  display: flex;
  flex-direction: column;
}

.content__image__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content__image {
  animation: fadeUpImage 2s ease-in-out;

  &:hover {
    animation: hoverBigScale 1s infinite;
  }
}

.content__introduce__container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gowun Batang", serif;
  margin-bottom: 2rem;
  line-height: 1.3rem;
  animation: fadeUpImage 4s ease-in-out;

  p {
    width: 82%;
  }
}

.content__moreinfo__btn__container {
  display: flex;
  justify-content: space-evenly;
}

.content__moreinfo__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-family: "Gowun Batang", serif;
  font-weight: 600;
  border-radius: 10px;
  background-color: white;
  color: rgb(59, 59, 59);
  width: 120px;
  height: 50px;
  font-size: 18px;
  animation: fadeUpImage 4s ease-in-out;
  transition: all 1s;

  &:hover {
    background-color: rgb(86, 86, 86);
    color: rgb(211, 211, 211);
  }
}

.modal__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  color: rgb(56, 56, 56);
  font-family: "Gowun Batang", serif;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  animation: fadeUpImage 2s ease-in-out forwards;
}

.modal__skill__wrapper {
  width: 75%;
  gap: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.modal__skill__container {
  text-align: center;

  p {
    margin-top: 0.5rem;
  }
}

.modal__introduce {
  width: 82%;
  line-height: 1.2rem;
}

.modal__role__container {
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  line-height: 1.2rem;

  div {
    margin-bottom: 0.4rem;
  }

  h3 {
    font-size: 19px;
    font-weight: 900;
  }
}

.modal__close__btn {
  @extend .content__moreinfo__btn;
  background-color: rgb(86, 86, 86);
  color: rgb(211, 211, 211);

  &:hover {
    background-color: white;
    color: rgb(59, 59, 59);
  }
}

@media screen and (min-width: 1024px) {
  .title__container {
    padding-top: 10rem;

    button {
      font-size: 23px;
    }
  }
  .content__container {
    display: flex;
    flex-direction: row;
  }

  .content__introduce__info__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
  }

  .content__introduce__container {
    justify-content: flex-start;
    font-size: 18px;
  }

  .content__moreinfo__btn {
    width: 100px;
    height: 50px;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .title__container {
    button {
      font-size: 25px;
    }
  }
  .content__title {
    margin: 3rem 0;
  }
  .content__image {
    width: 450px;
    height: 500px;
  }

  .content__introduce__container {
    font-size: 22px;

    p {
      line-height: 1.5rem;
    }
  }
}

@media screen and (min-width: 1920px) {
  .title__container {
    button {
      font-size: 27px;
    }
  }
  .content__title {
    font-size: 45px;
    margin: 4rem 0;
  }
  .content__image {
    width: 550px;
    height: 600px;
  }

  .content__introduce__info__container {
    margin-left: 0;
  }

  .content__introduce__container {
    font-size: 25px;

    p {
      line-height: 2rem;
    }
  }

  .content__moreinfo__btn {
    width: 150px;
    height: 60px;
    font-size: 26px;
  }
}

@media screen and (min-width: 2560px) {
  .title__container {
    button {
      font-size: 29px;
    }
  }
  .content__title {
    font-size: 50px;
    margin: 7rem 0;
  }
  .content__image {
    width: 700px;
    height: 800px;
  }

  .content__introduce__container {
    font-size: 32px;
    p {
      line-height: 3rem;
    }
  }

  .content__moreinfo__btn {
    width: 180px;
    height: 90px;
    font-size: 30px;
  }
}
