@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(35, 145, 197, 0);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rotator__skill__container,
.front__container,
.try__container,
.community__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeDown 3s ease-in-out;
  color: white;

  h1 {
    font-size: 30px;
    margin-bottom: 1rem;
    font-family: "Noto Serif KR", serif;
  }
}
.rotator__skill__container {
  margin-bottom: 10rem;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    opacity: 1;
  }
}
