@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(35, 145, 197, 0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  h1 {
    font-size: 30px;
    margin-bottom: 1rem;
    font-family: "Noto Serif KR", serif;
  }
}

.toggle__container {
  position: relative;
  z-index: 10000;
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: white;
  margin-right: 1rem;
}

.rotator__skill__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  animation: fadeDown 3s ease-in-out;
  margin-top: 4rem;
}

.front__container,
.try__container,
.community__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeDown 3s ease-in-out;
  color: white;
  margin-bottom: 2rem;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    opacity: 1;
  }
}
