@import "slick-carousel/slick/slick-theme.css";
@import "slick-carousel/slick/slick.css";

.slick-slider {
  background-color: transparent;
  padding-top: 10rem;
}

@media screen and (min-width: 1024px) {
  .slick-slider {
    display: flex;
  }
}
